APP_NAME=Anchor Cloud
APP_ENV=development
APP_PORT=8000
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=anchor_user
MYSQL_PASSWORD=anchorpass123
MYSQL_DATABASE=anchor_cloud

UPLOAD_DIR=./vault_storage
FRONTEND_ORIGIN=http://localhost:8000
GOOGLE_REDIRECT_URI=http://localhost:8000/api/auth/google/callback